player-connection-mode=Listen
player-connection-guid=3578203697
player-connection-debug=0
player-connection-project-name=CapstoneProject
player-connection-ip=192.168.0.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8f8a684040f94e838cf1849764a806aa
